/* TYPEOGRAPHY */
/* @import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap');
@import url("https://use.typekit.net/kzd8rfh.css");

@font-face {
   src: url("https://use.typekit.net/kzd8rfh.css");
font-family: "logic-monospace", mono;
font-weight: 400;
font-style: normal;
 }
 @font-face {
   src: url('https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap');
  font-family: 'manrope';
  font-optical-sizing: auto;
  font-weight: 800;
  font-style: 800;
 }

:root { 
  --font-body-family: mono, sans-serif !important;
  --font-heading-family: 'manrope', sans-serif !important; 
} */

/* BODY */

.password-bg-overlay {
  background-color: rgba(225, 225, 225, 0.5);
  width: 100%; 
  height: 100vh;
}

.ps-video-container {
  background-color: #4F748B;
  display: flex;
  justify-content: center;
    width: 100%;
    height: 100vh;
  position: fixed;
     z-index: -10;

/* VIDEO LAYER BLEND: */
/* mix-blend-mode: difference; */
}

.ps-hero-vid {
  object-fit: cover;
  display: flex;
  justify-content: center;
  height: 100%; 
  width: 100%;
  position: absolute;
}
.ps-video-container::before {
  content:'';
  width: 100%;
  height: 100%;
  background-color: #4F748B69;
  position: absolute;
  z-index: 1;
/*     background-image: linear-gradient(#7f1d1882, #B0776D, #E2D1C1); */
}

/* .password-header img {
  display: none;
} */

.password-bg {
  width: 100%;
  position: fixed;
  z-index: -1;
  display: block !important;
  background-size: cover !important;
  background-position: center!important;
  height: 100vh;
  background: #ffffff;
  /* background-image: url("https://cdn.shopify.com/s/files/1/0934/2802/3617/files/stimpee-bg.gif?v=1749177962"); */
  background-repeat: no-repeat;
}

{% if template == 'password' %}
 
<style>
.shopify-section-group-header-group.announcement-bar-section{
height: 10px;
}
.header-wrapper{
width: 100%;
background: transparent;
}
</style>
 
{% endif %}

#MainContent {
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
}
