/* TYPEOGRAPHY */
/* @import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap');
@import url("https://use.typekit.net/kzd8rfh.css");

@font-face {
   src: url("https://use.typekit.net/kzd8rfh.css");
font-family: "logic-monospace", mono;
font-weight: 400;
font-style: normal;
 }
 @font-face {
   src: url('https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap');
  font-family: 'manrope';
  font-optical-sizing: auto;
  font-weight: 800;
  font-style: 800;
 }

:root { 
  --font-body-family: mono, sans-serif !important;
  --font-heading-family: 'manrope', sans-serif !important; 
} */

/* BODY */

/* background video */

/* .video-container {
  display: flex;
  justify-content: center;
  height: 100%; 
  width: 100%;
  position: fixed;
  object-fit: cover;
  z-index: -10;

/* VIDEO LAYER BLEND: */
/* mix-blend-mode: difference; */
}
.video-container::before {
    content:"";
    display: block;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1;
    background-color: rgba(255, 255, 255, .8);
}
.hero-vid {
  object-fit: cover;
  display: flex;
  justify-content: center;
  height: 100%; 
  width: 100%;
} */

/* background image */

/* 
.pg-bkg {
  background: url('https://youtu.be/LnoptTyhFsE?si=X978ks-q1raD42iu');
  width: 100%;
  height: 100%;
  position: fixed;
  z-index: -10;
  display: block !important;
  background-size: cover;
  background-position: center;
} */

.banner:after, .banner__media:after {
display: none;
}

/* HEADER */

/* To change the color of the search module background – Add to the customizer */

.search-modal__content {
/*   background-color: #7F1D18; */
}

/* CHANGE LOGO IMG */

/* .header__heading-logo-wrapper img {
  content: url('https://cdn.shopify.com/s/files/1/0934/2802/3617/files/gift-icon.webp?v=1751037188');
} */

/* NO LOGO */

/* .header__heading-logo-wrapper {
  display: none;
} */

/* FOOTER */

.footer {
    border-top: .1rem solid rgb(18 18 18 / 0%) !important;
}
.footer {
    background: transparent;
}

/* PRODUCT PAGE */

.global-media-settings {
  border: none;
}

.wj-sizechart-btn span {
  color: white !important;
}

.wj-sizechart-btn svg {
    fill: #ffffff !important;
}

/* POLICY PAGE */

.shopify-policy__container {
    max-width: 60%;
}
